<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
{% load static %}
<head>
	<meta charset="">
	<title>EJECT - Soluções em Desenvolvimento de Sites e Sistemas Web</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" sizes="192x192" href="{% static 'core/images/iconeject.png' %}">
	<link rel="shortcut icon" href="{% static 'core/images/favicon.png' %}" type="image/png">
	<!--Google Font link-->
	<link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

	<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>

	<link rel="stylesheet" href="{% static 'core/css/oneline.css' %}">

	<link rel="stylesheet" href="{% static 'core/css/slick/slick.css' %}"> 
	<link rel="stylesheet" href="{% static 'core/css/slick/slick-theme.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/animate.css' %}">
	<!-- <link rel="stylesheet" href="{% static 'core/css/animate.min.css' %}"> -->
	<link rel="stylesheet" href="{% static 'core/css/iconfont.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/bootsnav.css' %}">
	<link href="{% static 'core/css/load-more-button.css' %}" rel="stylesheet">
	<link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'core/css/prettyPhoto.css' %}" rel="stylesheet">
	<link href="{% static 'core/css/main.css' %}" rel="stylesheet">
	<link href="{% static 'core/css/responsive.css' %}" rel="stylesheet"> 

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{% static 'core/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/owl.theme.default.min.css' %}">
	<!-- xsslider slider css -->

	<!-- CAROUSEL SLICK   -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" >
	<link rel="stylesheet" type="text/css" href="{% static 'core/carousel.css' %}" rel="stylesheet" type="text/css" >

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript" ></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="{% static 'core/slick.js' %}" type="text/javascript" charset="utf-8"></script>

	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
	<!-- CAROUSEL SLICK  - FIM -->


	<!--<link rel="stylesheet" href="assets/css/xsslider.css">-->

	<!--For Plugins external css-->
	<!--<link rel="stylesheet" href="assets/css/plugins.css" />-->

	<!--Theme custom css -->
	<link rel="stylesheet" href="{% static 'core/css/style.css' %}">
	<!--<link rel="stylesheet" href="assets/css/colors/maron.css">-->
	<link rel="stylesheet" href="{% static 'core/css/lightbox.min.css' %}">
	<!--THEMEFISHER-->
	<!-- <link rel="stylesheet" href="{% static 'core/plugins/themefisher-font/style.css' %}"> -->
	<!--Theme Responsive css-->
	<link rel="stylesheet" href="{% static 'core/css/responsive.css' %}" />

  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

</head>

<body data-spy="scroll" data-target=".navbar-collapse">

	<!-- Preloader -->
	<div id="loading">
		<div id="loading-center">
			<div id="loading-center-absolute">
				<div class="object" id="object_one"></div>
				<div class="object" id="object_two"></div>
				<div class="object" id="object_three"></div>
				<div class="object" id="object_four"></div>
			</div>
		</div>
	</div><!--End off Preloader -->

	<!--Home page style-->
	<section id="home">
		<nav class="navbar navbar-default bootsnav navbar-fixed">
			<div class="navbar-top bg-cinzanav fix">
				<div class="container ">
					<div class="row">
						<div class="col-md-10 col-xs-8">
							<div class="navbar-callus text-left sm-text-center" style="padding-top: 0px">
								<ul class="list-inline">
									<li>
                    <a href="" style=" font-size: 15px; color: black; font-family: Delicious !important;">
                      <i class="fa fa-envelope-o" style=" font-size: 15px; color: black;"></i> contato@ejectufrn.com.br
                    </a>
                  </li>
								</ul>
							</div>
						</div>
						<div class="col-md-2 col-xs-4"> 
							<div class="navbar-socail text-right sm-text-center">
								<ul class="list-inline">
									<li><a href="http://www.facebook.com/ejectufrn" target="_blank"><i class="fa fa-facebook"></i></a></li>
									<li><a href="https://www.instagram.com/ejectufrn/" target="_blank"><i class="fa fa-instagram"></i></a></li>
									<li><a href="https://www.linkedin.com/company/16219994/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container">            
				<!-- Start Atribute Navigation -->
				<div class="attr-nav">        
					<ul class="navegacao-tela-maior" style="font-size: 18px;">
						<li><a href="#home" class="effect-underline">Início</a></li>
						<li><a href="#features" class="effect-underline">Quem Somos</a></li>
						<li><a href="#pricing" class="effect-underline">Serviços</a></li>
						<li><a href="#portfolio" class="effect-underline">Portfólio</a></li>
						<li><a href="#contato" class="effect-underline">Contato</a></li>
						<li><a href="blog" class="effect-underline">Blog</a></li>
						<li><a style="padding-top: 20px;" href="https://api.whatsapp.com/send?phone=5584999411273&text=Olá,%20temos%20a%20solução%20web%20para%20você!." target="."><div class="ligamos" align="center"><i class="fa fa-whatsapp"></i> Whatsapp</div></a></li>
					</ul>
					<ul class="navegacao-tela-menor">
						<li class="side-menu"><a href="#"><i class="fa fa-bars"></i></a></li>
					</ul>     
				</div>
				<!-- End Atribute Navigation -->
				<!-- Start Header Navigation -->
				<div class="navbar-header" style="padding-bottom: 5px">
					<a class="navbar-brand" href="#brand"><img src="{% static 'core/images/logoeject.png' %}" class="logo" alt=""></a> 
				</div>
				<!-- End Header Navigation -->
				<!-- Collect the nav links, forms, and other content for toggling -->
			</div>

			<!-- Start Side Menu -->
			<div class="side">
				<a href="#" class="close-side"><i class="fa fa-times"></i></a>
				<div class="widget">
					<h3 class="title" style="font-size: 26px; line-height: 24px">Navegue no nosso site</h3>
					<ul class="link">
						<li style="font-size: 18px; line-height: 20px"><a href="#home">Início</a></li>
						<li style="font-size: 18px; line-height: 20px"><a href="#features">Quem Somos</a></li>
						<li style="font-size: 18px; line-height: 20px"><a href="#pricing">Serviços</a></li>
						<li style="font-size: 18px; line-height: 20px"><a href="#portfolio">Portfólio</a></li>
						<li style="font-size: 18px; line-height: 20px"><a href="#contato">Contato</a></li>
					</ul>
				</div>
				<div class="widget">
					<h4 class="title" style="font-size: 22px"><a href="blog" target="." style="color: white"> Blog #EJECT </a></h4>
					<ul class="link">
						<li style="text-align: center; color: white; padding-bottom: 10px; font-size: 16px">Telefone: (84) 9 9941-1273</li>
						<li style="text-align: center; color: white; font-size: 16px; line-height: 16px">Endereço: Sala B412 do IMD/UFRN</li>
					</ul>
				</div>
	            <!--<div>
	                
	                    <a href="https://www.facebook.com/ejectufrn" target="_blank"><i class="fa fa-facebook" ></i></a>
	                    <a href="https://www.facebook.com/ejectufrn" target="_blank"><i class="fa fa-instagram" ></i></a>
	                
	                </div>-->
	            </div>
	            <!-- End Side Menu -->
	        </nav>
	    </section>

	    <!--Home Sections-->
	    <div class="cd-background-wrapper">
	    	<figure class="cd-floating-background">
	    		<img src="{% static 'core/img/cd-img-1.jpg' %}" alt="image-1" >
	    		<img src="{% static 'core/img/cd-img-2.png' %}" alt="image-2">
	    		<img src="{% static 'core/img/cd-img-3.png' %}" alt="image-3">
	    	</figure>
	    </div>

	    <!-- CONTINUA HOME -->
	    <div class="col md-12 texto">
	    	<h1 style="font-size: 50px; padding-bottom: 10px" class="col-md-12"><strong>Criação de Sites e Sistemas Web</strong></h1>
	    	<p style="font-size: 20px; line-height: 30px;" class="col-md-6">Empresa especializada em desenvolvimento de soluções web responsivas e personalizadas.</p>
	    	<div class="col-md-12"><a href="#pricing" class="btn-home m-top-20 center wow animated fadeInDown" style="visibility: visible; animation-name: fadeInDown;">Conheça nossos serviços | <i class="fa fa-arrow-right" aria-hidden="true"></i></a></div>
	    </div>

	    <div class="formulario form-wrap">
	    	<h3 class="form-title text-center">SOLICITE UMA PROPOSTA</h3>
	    	<form class="form-header" role="form" method="POST" id="#">
	    		{% csrf_token %}
	        <!-- <input type="hidden" name="u" value="503bdae81fde8612ff4944435">
	        <input type="hidden" name="id" value="bfdba52708"> -->
	        <!-- SERVIÇOS-->
	        <div class="form-group"> 
	        	<div class="input-group">
	        		<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
	        		{{ form_solicitacao.about }}
	        	</div>
	        </div><!-- SERVIÇOS - fim-->

	        <div class="form-group">
	        	{{ form_solicitacao.name }}
	        </div>
	        <div class="form-group">
	        	{{ form_solicitacao.email }}
	        </div>
	        <div class="form-group">
	        	{{ form_solicitacao.phone }}
	        </div>
	        <!-- MELHOR FORMA -->
	        <div class="form-group">
	        	<label >Deseja receber contatos por:</label>
	        	<div class="radio">
					<!-- <label><input type="radio" name="forma_contato" value="E-mail" /> E-mail</label>
					<label><input type="radio" name="forma_contato" value="no" /> Telefone</label>
					<label><input type="radio" name="forma_contato" value="no" /> Whatsapp</label> -->
					{{ form_solicitacao.deviceContact }}
				</div>
			</div>
			<div class="form-group last">
				<input type="submit" class="btn btn-warning btn-block btn-lg" value="Solicitar Proposta">
			</div>
			<!--<p class="privacy text-center">We will not share your email. Read our <a href="privacy.html">privacy policy</a>.</p>-->
			<!-- MELHOR FORMA -->
		</form>
	</div>

	<div class="responsa">
		<div class="container" style="padding-bottom: 10px">
			<div class="row">
				<div class="main_features fix roomy-70" style="padding-bottom: 23px;padding-top: 20px;">
					<div class="col-md-12 center wow animated fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
						<h1 style="color: black;  padding-bottom: 8px; font-size: 24px;"><strong>Criação de Sites e Sistemas Web</strong></h1>
					</div>
					<div class="col-md-12 qsomosp center wow animated fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
						<p style="font-size: 16px">Empresa especializada em desenvolvimento de soluções web responsivas e personalizadas.</p>
					</div>
					<div class="col-md-12"><a href="#pricing" class="ctahome m-top-20 center wow animated fadeInDown" style="visibility: visible; animation-name: fadeInDown;">Conheça nossos serviços | <i class="fa fa-arrow-right" aria-hidden="true"></i></a></div>
				</div>
			</div><!-- End off row -->
		</div><!-- End off container -->
	</div>

	<!--Featured Section-->
	<section id="features" class="features bg-white">
		<div class="container ">
			<div class="row">
				<div class="main_features fix roomy-70" style="padding-bottom: 23px;padding-top: 20px;">
					<div class="col-md-12 center wow animated fadeInDown" style="visibility: visible; animation-name: fadeInDown;">

						<h2 style="color: black; padding-bottom: 8px; font-size: 35px;">Quem Somos</h2>
						<div class="section-title-divider"></div>
					</div>
					<div class="col-md-12 qsomosp center wow animated fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
						<p align="justify" style="font-size: 18px;">{{ quem_somos.0.descricao }}</p>
					</div>
					<div class="col-md-12"><a href="quemsomos" class="voltar m-top-20 center wow animated fadeInDown" style="visibility: visible; animation-name: fadeInDown;">Veja Mais | <i class="fa fa-eye" aria-hidden="true"></i></a></div>
				</div>
			</div><!-- End off row -->
		</div><!-- End off container -->
	</section><!-- End off Featured Section-->

	<!--Seção de Serviços-->
	<!-- Start Pricing section
	=========================================== -->
	<section class="pricing-table  bg-servicos section" id="pricing">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="title text-center">
						<h2 class="ajustesserver" style="padding-bottom: 8px; font-size: 35px; padding-top: 15px;">Nossos Serviços</h2>
						<div class="section-title-divider-ser"></div>
						<span class="border"></span>
						<!--<p class="ajusteserviço" align="justify">Nossos projetos web suprem as necessidades internas da EJECT e principalmente as necessidades dos nossos clientes.</p>-->
					</div>
				</div>
			</div>

      {% if form.is_valid %}
      <script type="text/javascript">
        alert("Mensagem enviada com sucesso! A Valdecio Tour agradece pelo contato.");
      </script> 
      {% endif %}

			<div class="row">
				<!-- single pricing table -->
				<div class="col-md-4 col-sm-4 col-xs-12" >
					<div class="pricing-item center wow animated fadeInDown" style="visibility: visible; animation-name: fadeInDown; font-size: 15px;">
						<a href="servicos/sitesresponsivos" target="_blank"><div class="post-icon">
							<i class="fa fa-search-plus"></i></a>
						</div>
						<!-- plan name & value -->
						<div class="price-title bg-pricing" style="font-size: 25px;">
							<h3>Sites Responsivos</h3>
              <br>
							<a href="servicos/sitesresponsivos" target="_blank"><i class="fa fa-laptop service-icon"></i></a>
							<p>Solução perfeita para pessoas e empresas que querem ganhar visibilidade e presença de mercado para alavancar suas vendas.</p>
						</div>
						<!-- /plan name & value -->

						<!-- plan description -->
						<ul style="font-size: 15px;">
							<li>Institucionais</li>
							<li>Landing Pages</li>
							<li>Blogs</li>
							<li>E-Commerce</li>

						</ul>
						<!-- /plan description -->

						<form class="grop-from signup" id="signup_responsivos">
							{% csrf_token %}
							<div class="form-head"><span class="text"> </span><i class="icon-placeholder"></i></div>
							<div class="form-body"><span class="error-text">Por favor, preencha os campos.</span>
								<div class="form-controls">
									{{ form_servico_responsivo.name }}
									{{ form_servico_responsivo.phone }}
									{{ form_servico_responsivo.email }}
								</div>
							</div><a class="form-action"><i class="icon-action"></i></a>
						</form>
						<!-- Botão Quero Agora -->
						<!--<a class="btn btn-queroagora" href="#">Quero Agora</a>-->
						<!-- /signup button -->

					</div>
				</div>
				<!-- end single pricing table -->

				<!-- single pricing table -->
				<div class="col-md-4 col-sm-4 col-xs-12"  >
					<div class="pricing-item center wow animated fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
						<a href="servicos/sistemasweb" target="_blank"><div class="post-icon">
							<i class="fa fa-search-plus"></i></a>
						</div>
						<!-- plan name & value -->
						<div class="price-title  bg-pricing">
							<h3>Sistemas Web</h3>
              <br>
							<a href="servicos/sistemasweb" target="_blank"><i class="fa fa-sitemap service-icon"></i></a>
							<p>Ideal para empresas que buscam melhorar os seus processos, informatizando-os e reduzindo assim custos.</p>
						</div>
						<!-- /plan name & value -->

						<!-- plan description -->
						<ul>
							<li>Gestão Interna</li>
							<li>CRM</li>
							<li>Eventos</li>
							<li>Estoque</li>
						</ul>
						<!-- /plan description -->
						<form class="grop-from signup" id="signup_web">
							{% csrf_token %}
							<div class="form-head"><span class="text"> </span><i class="icon-placeholder"></i></div>
							<div class="form-body"><span class="error-text">Por favor, preencha os campos.</span>
								<div class="form-controls">
									{{ form_servico_sistema_web.name }}
									{{ form_servico_sistema_web.phone }}
									{{ form_servico_sistema_web.email }}
								</div>
							</div><a class="form-action"><i class="icon-action"></i></a>
						</form>
						<!-- Botão Quero Agora -->
						<!--<a class="btn btn-queroagora" href="#">Quero Agora</a>-->
						<!-- /signup button -->

					</div>
				</div>
				<!-- end single pricing table -->
				<div class="col-md-4 col-sm-4 col-xs-12"  >
					<div class="pricing-item center wow animated fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
						<a href="servicos/hospedagem" target="_blank"><div class="post-icon">
							<i class="fa fa-search-plus"></i></a>
						</div>
						<!-- plan name & value -->
						<div class="price-title  bg-pricing">
							<h3>Hospedagem</h3>
              <br>
							<a href="servicos/hospedagem" target="_blank"><i class="fa fa-cloud service-icon"></i></a>
							<p>Recomendado para quem quer armazenar os seus dados e projetos com segurança, tendo-os disponíveis 24h por dia e 7 dias por semana!</p>
						</div>
						<!-- /plan name & value -->

						<!-- plan description -->
						<ul>
							<li>Planos anuais</li>
							<li>Cloud</li>
							<li>Email</li>
							<li>Backups</li>
						</ul>
						<!-- /plan description -->
						<form class="grop-from signup" id="signup_hospedagem">
							{% csrf_token %}
							<div class="form-head"><span class="text"> </span><i class="icon-placeholder"></i></div>
							<div class="form-body"><span class="error-text">Por favor, preencha os campos.</span>
								<div class="form-controls">
									{{ form_servico_hospedagem.name }}
									{{ form_servico_hospedagem.phone }}
									{{ form_servico_hospedagem.email }}
								</div>
							</div><a class="form-action"><i class="icon-action"></i></a>
						</form>
						<!-- Botão Quero Agora -->
						<!--<a class="btn btn-queroagora" href="#">Quero Agora</a>-->
						<!-- /signup button -->

					</div>
				</div>
				<!-- single pricing table -->
				<!-- end single pricing table -->
			</div>       <!-- End row -->
		</div>      <!-- End container -->
	</section>   <!-- End section -->

	<!-- DIFERENCIAIS -->
	<section id="diferenciais">
		<div>
			<div>
				<div class="container">
					<div class="col-md-8 col-md-offset-2 center wow animated fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
						<div class="ajustessec">
							<h2 style="color:white; font-size: 35px; padding-top: 15px;">Nossos DIFERENCIAIS</h2>
							
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="row text-center dificons">
								<!-- DIFERENCIAIS - QUALIDADE-->
								<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 center wow animated fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
									<img src="{% static 'core/images/qualidade.svg' %}" width="100px" height="100px">
									<h2 class="fh5co-uppercase-sm" style="color: white;">Qualidade</h2>
									<p><!-- ,Lorem ipsum,Lorem ipsum,Lorem ipsum,Lorem ipsum,Lorem ipsum,Lorem ipsum,Lorem ipsum,Lorem ipsum,Lorem ipsum,Lorem ipsum. --></p>
								</div>

								<!-- DIFERENCIAIS - ALTA TECNOLOGIA-->

								<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12  center wow animated fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
									<img src="{% static 'core/images/tec.svg' %}" width="100px" height="100px">
									<h2 class="fh5co-uppercase-sm" style="color: white;">Tecnologia</h2>
									<p><!-- Lorem ipsum, Lorem ipsum,Lorem ipsum,Lorem ipsum,Lorem ipsum,Lorem ipsum,Lorem ipsum,Lorem ipsum,Lorem ipsum,Lorem ipsum --></p>
								</div>

								<!-- DIFERENCIAIS - PREÇO-->

								<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 center wow animated fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
									<img src="{% static 'core/images/preco.svg' %}" width="100px" height="100px">
									<h2 class="fh5co-uppercase-sm" style="color: white;">Preço</h2>
									<p><!-- Lorem ipsum,Lorem ipsum,Lorem ipsum,Lorem ipsum,Lorem ipsum,Lorem ipsum,Lorem ipsum,Lorem ipsum,Lorem ipsum,Lorem ipsum --></p>
								</div>

								<!-- DIFERENCIAIS - COMPROMISSO-->

								<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 center wow animated fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
									<img src="{% static 'core/images/compromisso.svg' %}" width="100px" height="100px">
									<h2 class="fh5co-uppercase-sm" style="color: white;" >Compromisso</h2>
									<p><!-- Lorem ipsum,Lorem ipsum,Lorem ipsum,Lorem ipsum,Lorem ipsum,Lorem ipsum,Lorem ipsum,Lorem ipsum,Lorem ipsum,Lorem ipsum --></p>
								</div>
							</div>
						</div>

						<div class="col-md-4 col-md-push-4 fh5co-text-wrap">
							<div class="row text-center">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- DIFERENCIAIS - FIM -->


	<!--  INICIO DO PORTFOLIO-->
	<section id="portfolio">
		<div class="container" style=" padding-bottom: 0px">
			<div class="center">
				<h2 style=" padding-bottom: 0px; font-size: 35px;">Portfólio</h2>
				<div class="section-title-divider-port"></div>
				<p class="lead" style="font-size: 20px;">Nossos projetos web suprem as necessidades internas da EJECT e principalmente as necessidades dos nossos clientes.</p>
			</div>


			<ul class="portfolio-filter text-right">
				<li><a class="btn btn-default active" href="#" data-filter="*">Todos</a></li>
				<li><a class="btn btn-default" href="#" data-filter=".bootstrap">Sites Responsivos</a></li>
				<li><a class="btn btn-default" href="#" data-filter=".html">Sistemas Web</a></li>
			</ul><!--/#portfolio-filter-->

			<div class="row">
				<div class="portfolio-items">
					{% for item in portifolio %}
					<div class="portfolio-item apps joomla wordpress
					{% if item.categoria == 'SR' %}
					bootstrap
					{% elif item.categoria == 'SW' %}
					html
					{% endif %}
					col-xs-12 col-sm-4 col-md-4">
					<div class="recent-work-wrap">
						<img class="img-responsive" src="{{ item.imagem.url }}" alt="" style="height: 250px !important">
						<div class="overlay">
							<div class="recent-work-inner">
								<h3><a>{{ item.titulo }}</a></h3>
								<p>{{ item.descricao }}</p>
								<a class="preview" href="{{ item.imagem.url }}" rel="prettyPhoto"><i class="fa fa-eye"></i> Visualizar</a>
								<p><a href="{{ item.link }}" target="." style="color: white"><i class="fa fa-globe"></i> Conferir no Site</a></p>
							</div>


						</div>
					</div>
				</div><!--/.portfolio-item-->
				{% endfor %}
			</div>
		</div>
	</div>
</section><!--/#portfolio-item-->
<!--  FIM DO PORTFOLIO-->
<!-- BLOG -->
<section id="blog" style="padding-bottom: 40px">
	<div class="container">
		<div class="row">
			<div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
				<h2 style="padding-bottom: 8px; font-size: 35px;">Blog</h2>
				<div class="section-title-divider-blog"></div>
				<h3><!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam --></h3>
			</div>
		</div>
		<div class="blog-posts">
			<div class="row">
				{% for post in postagens %}
				<div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
					<div class="entry-header blog-space">
						<a href="{{ post.get_absolute_url }}" target="_blank"><img class="img-responsive post-thumb" src="{{ post.capa.url }}" alt=""></a>
						<h3 style="padding-left: 10px"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
						<span class="date" style="padding-left: 10px">{{ post.created_date|date:'M d/Y' }}</span>
						<span class="cetagory">em
							<strong>
							{% for cat in post.categoria.all %}
								{{ cat }}
							{% endfor %}
							</strong>
						</span>
					</div>
					<div class="entry-content blog-space">
						<p style="padding-left: 10px;  padding-right: 5px">{{ post.subtitle }}. </p>
					</div>
				</div>
				{% endfor %}
			</div>                   
		</div>
	</div>
</div>
</section><!--/#blog-->



<!-- DEPOIMENTOS -->
<!--Home Sections-->
<section id="depoi" class="depoi bg-black fix">
	<!-- <div class="filtrodepoi"></div> -->
	<div class="container">
		<div class="row">
			<div class="main_home text-center">
				<div class="col-md-12">
					<div class="hello_slid">
						{% for depoimento in depoimentos %}
						<div class="slid_item">
							<div class="home_text col-sm-12 col-md-12 col-xs-12">
								<div class="col-md-4 col-sm-2 fh5co-vcard"><img style="border-radius: 50%;" src="{{ depoimento.imagem.url }}"></div>
								<h3 class="text-white">“{{ depoimento.descricao }}”</h3>
								<h5 class="text-white text-left">- {{ depoimento.nome }},<strong>{{ depoimento.empresa }}</strong> -</h5>
							</div>
							<!-- INICIO DO FORM -->
							<!-- FIM DO FORM -->
						</div><!-- End off slid item -->
						{% endfor %}
						<!-- FINAL -->
					</div>
				</div><!-- End off slid item -->
			</div><!--End off row-->
		</div><!--End off row-->
	</div><!--End off container -->
</section> <!--End off Home Sections-->
<!-- / Testimonial-->
<!-- FIM DOS DEPOIMENTOS -->
<!-- SLICK Carousel -->

<section id="parceiros">
	<h2 align="center" style="padding-bottom:  10px; font-size: 35px;"> Nossos PARCEIROS </h2>
	<div class="section-title-divider-partners"></div>

	<div class="row">
		<div class="container">
			<section class="customer-logos slider">
				{% for parceiro in parceiros %}
				<div class="slide"><a href="{{ parceiro.link }}" target="."><img src="{{ parceiro.imagem.url }}"></a></div>
				{% endfor %}
			</section>
		</div>
	</div>
</section>
<!-- SLICK Carousel - FIM -->
		<!-- Srart Contact Us
		=========================================== -->
		<section id="contato" class="bg-azultop fix">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title text-center">
							<h2 style="color:white; font-size: 35px;">Entre em contato</h2>
							<span class="border"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row" style="padding-bottom: 25px; font-size: 15px;">
					<!-- Contact Details -->
					<div class="col-md-6">
						<div class="contact-info wow fadeInUp" style="padding-bottom: 8px" data-wow-duration="1000ms" data-wow-delay="300ms">
							<p>Instituto Metrópole Digital (IMD - UFRN), sala B412 (4° piso)</p>
							<ul class="address">
								<li style="padding-bottom: 10px"><i class="fa fa-map-marker"></i> <span> Endereço:</span> Av. Capitão Mor. Gouvéia, Lagoa Nova, CEP: 59075-050 </li>
								<li style="padding-bottom: 10px"><i class="fa fa-phone"></i> <span> Telefone:</span> +55 (84) 3342-2216 Ramal 206 </li>
								<li style="padding-bottom: 10px"><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:contato@ejectufrn.com.br"> contato@ejectufrn.com.br</a></li>
							</ul>
						</div>

						<div class="col-md-12 google-maps">
							<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15876.661590476922!2d-35.2054833!3d-5.8322932!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x85af869d288f334e!2sEmpresa+J%C3%BAnior+da+Escola+de+Ci%C3%AAncias+e+Tecnologia!5e0!3m2!1spt-BR!2sbr!4v1520308069690" width="350" height="290" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>
					</div>

					<!-- / End Contact Details -->


					<!-- Contact Form -->
					<div class="contact-form col-md-6">
						<p style="padding-top: 35px; font-size: 15px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum reiciendis quasi itaque, obcaecati atque sit!</p>
						<form id="contact-form" method="post" role="form">
							{% csrf_token %}
							<div class="form-group">
								{{ form_contato.nome }}
							</div>
							<div class="form-group">
								{{ form_contato.telefone }}
							</div>

							<div class="form-group">
								{{ form_contato.email }}
							</div>

							<div class="form-group">
								{{ form_contato.assunto }}
							</div>

							<div class="form-group">
								{{ form_contato.mensagem }}
							</div>

							<!-- <div id="mail-success" class="success">
								Thank you. The Mailman is on His Way :)
							</div>

							<div id="mail-fail" class="error">
								Sorry, don't know what happened. Try later :(
							</div> -->

							<div id="cf-submit">
								<input type="submit" id="contact-submit" class="btn btn-transparent" value="Enviar">
							</div>
						</form>
					</div>
					<!-- ./End Contact Form -->
				</div>
			</div> <!-- end row -->
		</section>

		<div class="md-modal md-effect-1" id="modal-1">
			<div class="md-content">
				<h3 style="color: #fff">Saiba Mais</h3>
				<div>
					<a class="md-close" href="#pricing" style="color:#fff; float:right;">X</a>
					<br>
					<p align="center">Por favor, selecione uma das opções abaixo para mais informações:</p>
					<br>
					<button class="btn btn-queroagora">Sites Responsivos | <i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
					<br>
					<button class="btn btn-queroagora"> Sistemas Web | <i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
					<br>
					<button class="btn btn-queroagora">Hospedagem | <i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
					<br>
				</div>
			</div>
		</div>

		<footer>
			<div class="main_footer fix bg-white text-center p-top-40 p-bottom-30 m-top-0" style="padding-top: 25px;padding-bottom: 15px;">
				<div class="col-md-12 center wow animated fadeInUp" style="visibility: visible; animation-name: fadeInDown;">
					<a href="https://www.facebook.com/ejectufrn" target="_blank"><i class="fa fa-facebook" ></i></a>
					<a href="https://www.instagram.com/ejectufrn/" target="_blank"><i class="fa fa-instagram" ></i></a>
					<a href="https://www.linkedin.com/company/16219994/ " target="_blank"><i class="fa fa-linkedin" ></i></a>


					<font color="black"><p class="rodape wow fadeInRight" data-wow-duration="1s">
						Feito com <b>foco</b> <!--<i class="fa fa-bullseye" style="color: #336687;"></i>-->e <b>compromisso</b> pela<a href="https://www.ejectufrn.com.br" target="_blank" style="color: #336687;">EJECT</a>
						|  2017.</p> </font>
					</div>
				</div>
			</footer>
		</div>


		<!-- JS includes -->

		<script src="{% static 'core/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
		<script src="{% static 'core/js/vendor/jquery-1.11.2.min.js' %}"></script>
		<script src="{% static 'core/js/vendor/bootstrap.min.js' %}"></script>

		<!-- Scripts do home -->
		<script src="{% static 'core/js/modernizr.js' %}"></script> <!-- Modernizr -->
		<script src="{% static 'core/js/mains.js' %}"></script> <!-- Resource jQuery -->

		<script src="{% static 'core/js/jquery.magnific-popup.js' %}"></script>
		<script src="{% static 'core/js/jquery.easing.1.3.js' %}"></script>
		<script src="{% static 'core/js/jquery.collapse.js' %}"></script>
		<script src="{% static 'core/js/bootsnav.js' %}"></script>

		<!-- lightbox -->
		<script src="{% static 'core/js/lightbox.min.js' %}"></script>
		<!-- mix -->
		<script src="{% static 'core/js/mixitup.min.js' %}"></script>

		<script src="{% static 'core/js/plugins.js' %}"></script>
		<script src="{% static 'core/js/main.js' %}"></script>

		<script src="{% static 'core/js/particle.js' %}"></script>
		<!-- Owl Carousel -->
		<script src="{% static 'core/js/owl.carousel.min.js' %}"></script>
		<!--PORTFOLIO
		<script src="assets/js/2jquery.js"></script>
	--><script src="{% static 'core/js/2jquery.prettyPhoto.js' %}"></script>
	<script src="{% static 'core/js/2jquery.isotope.min.js' %}"></script>
	<script src="{% static 'core/js/2main.js' %}"></script>
	<script src="{% static 'core/js/2wow.min.js' %}"></script>

	<script  src="{% static 'core/js/oneline.js' %}"></script>
	<!-- <script  src="{% static 'core/js/onelinesistemas.js' %}"></script> -->

	<!-- Slick -->
	<script src="{% static 'core/slick.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'core/js/app.js' %}"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			$('.customer-logos').slick({
				slidesToShow: 6,
				slidesToScroll: 1,
				autoplay: true,
				autoplaySpeed: 1000,
				arrows: false,
				dots: false,
				pauseOnHover: false,
				responsive: [{
					breakpoint: 768,
					settings: {
						slidesToShow: 4
					}
				}, {
					breakpoint: 520,
					settings: {
						slidesToShow: 3
					}
				}]
			});
		});
	</script>
</body>
</html>
