
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
{% load static %}
<head>
  <meta charset="utf-8">
  <title>Conheça um pouco mais da EJECT - Nos Ligue (84) 9 9941-1273</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" sizes="192x192" href="{% static 'core/images/iconeject.png' %}">
  <link rel="shortcut icon" href="{% static 'core/images/favicon.png' %}" type="image/png">
  <!--Google Font link-->

  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'core/css/oneline.css' %}">

  <link rel="stylesheet" href="{% static 'core/css/slick/slick.css' %}"> 
  <link rel="stylesheet" href="{% static 'core/css/slick/slick-theme.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/animate.css' %}">
  <link rel="stylesheet" href="{% static 'coreanimate.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/iconfont.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/bootsnav.css' %}">

  <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'core/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'core/css/prettyPhoto.css' %}" rel="stylesheet">
  <link href="{% static 'core/css/main.css' %}" rel="stylesheet">
  <link href="{% static 'core/css/responsive.css' %}" rel="stylesheet"> 

  <!-- Owl Carousel -->
  <link rel="stylesheet" href="{% static 'core/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/owl.theme.default.min.css' %}">
  <!-- xsslider slider css -->

  <!-- CAROUSEL SLICK   -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" >
  <link rel="stylesheet" type="text/css" href="{% static 'core/carousel.css' %}" rel="stylesheet" type="text/css" >

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' %}" type="text/javascript" ></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' %}" type="text/javascript"></script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js' %}'></script>
  <!-- CAROUSEL SLICK  - FIM -->


  <!--<link rel="stylesheet" href="{% static 'core/css/xsslider.css' %}">-->

  <!--For Plugins external css-->
  <!--<link rel="stylesheet" href="{% static 'core/css/plugins.css' %}" />-->

  <!--Theme custom css -->
  <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
  <!--<link rel="stylesheet" href="{% static 'core/css/colors/maron.css' %}">-->
  <link rel="stylesheet" href="{% static 'core/css/lightbox.min.css' %}">
  <!--THEMEFISHER-->
  <!-- <link rel="stylesheet" href="{% static 'core/plugins/themefisher-font/style.css' %}"> -->
  <!--Theme Responsive css-->
  <link rel="stylesheet" href="{% static 'core/css/responsive.css' %}" />

</head>

<body data-spy="scroll" data-target=".navbar-collapse">

  <!-- Preloader -->
  <div id="loading">
    <div id="loading-center">
      <div id="loading-center-absolute">
        <div class="object" id="object_one"></div>
        <div class="object" id="object_two"></div>
        <div class="object" id="object_three"></div>
        <div class="object" id="object_four"></div>
      </div>
    </div>
  </div><!--End off Preloader -->

  <div class="culmn">
    <!--Home page style-->
    <nav class="navbar navbar-default bootsnav navbar-fixed">

      <!-- Start Top Search -->
      <div class="top-search">
        <div class="container">
          <div class="input-group">
            <span class="input-group-addon"><i style="color:#6f6f6f;" class="fa fa-search color:black"></i></span>
            <input type="text" class="form-control" placeholder="Procurar">
            <span class="input-group-addon close-search"><i style="color:#6f6f6f;" class="fa fa-times"></i></span>
          </div>
        </div>
      </div>
      <!-- End Top Search -->
      <div class="navbar-top bg-cinzanav fix">
        <div class="container">
          <div class="row">
            <div class="col-md-10">
              <div class="navbar-callus text-left sm-text-center">
                <ul class="list-inline">
                  <li><a href="" style="color: black;"><i class="fa fa-envelope-o" style="color: black;"></i> contato@ejectufrn.com.br</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-2">
              <div class="navbar-socail text-right sm-text-center">
                <ul class="list-inline">
                  <li><a href="http://www.facebook.com/ejectufrn" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="https://www.instagram.com/ejectufrn/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="https://www.linkedin.com/company/16219994/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">            
        <!-- Start Atribute Navigation -->
        <div class="attr-nav">

          <ul class="navegacao-tela-maior">
          <li><a href="/" class="effect-underline">Início</a></li>
            <li><a href="#proposito" class="effect-underline">O que nos move</a></li>
            <li><a href="#contato" class="effect-underline">Contato</a></li>
            <li><a href="/blog" class="effect-underline">Blog</a></li>
            <li><a style="padding-top: 20px;" href="https://api.whatsapp.com/send?phone=5584999411273&text=Olá,%20temos%20a%20solução%20web%20para%20você!." target="."><div class="ligamos" align="center"><i class="fa fa-whatsapp"></i> Whatsapp</div></a></li>
          </ul>
          <ul class="navegacao-tela-menor">
            <li class="side-menu"><a href="#"><i class="fa fa-bars"></i></a></li>
          </ul>         

        </div>
        <!-- End Atribute Navigation -->
        <!-- Start Header Navigation -->
        <div class="navbar-header" style="padding-bottom: 5px">
          <a class="navbar-brand" href="#brand"><img src="{% static 'core/images/logoeject.png' %}" class="logo" alt=""></a> 
        </div>
        <!-- End Header Navigation -->
        <!-- Collect the nav links, forms, and other content for toggling -->
      </div>   

      <!-- Start Side Menu -->
      <div class="side">
        <a href="#" class="close-side"><i class="fa fa-times"></i></a>
        <div class="widget">
          <h3 class="title">Navegue no nosso site</h3>
          <ul class="link">
            <li><a href="/">Início</a></li>
            <li><a href="#home">Quem Somos</a></li>
            <li><a href="#proposito">O que nos move</a></li>
            <li><a href="#contato">Contato</a></li>
          </ul>
        </div>
        <div class="widget">
          <h4 class="title"><a href="/blog" target="." style="color: white"> Blog #EJECT </a></h4>
          <ul class="link">
            <li style="text-align: center; color: white; padding-bottom: 10px;">Telefone: (84) 9 9941-1273</li>
            <li style="text-align: center; color: white">Endereço: Sala B412 do IMD/UFRN</li>
          </ul>
        </div>
            <!--<div>
                
                    <a href="https://www.facebook.com/ejectufrn" target="_blank"><i class="fa fa-facebook" ></i></a>
                    <a href="https://www.facebook.com/ejectufrn" target="_blank"><i class="fa fa-instagram" ></i></a>
                
                  </div>-->
                </div>
              </nav>

              <!--Home Sections-->
              <section id="home" class="home bg-black fix">
                <div class="overlay"></div>
                <div class="container">
                  <div class="row">
                    <div class="main_home text-center">
                      <div class="col-md-12">

                        <h1 style="color: white; padding-bottom: 8px">Quem Somos</h1>
                        <div class="section-quem"></div>
                      </div>
                    </div>
                  </div><!--End off row-->
                </div><!--End off container -->
              </section> <!--End off Home Sections-->


              <!--Featured Section-->
              <section id="features" class="features bg-white">
                <div class="container ">
                  <div class="row">
                    <div class="main_features fix roomy-70" style="padding-bottom: 80px;padding-top: 40px;">
                      <div class="col-md-9 qsomosp center wow animated fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                        <p style="font-size: 20px; line-height: 30px;" align="justify">Uma empresa júnior fundada em 15 de julho de 2010, formada apenas por alunos do Bacharelado de Ciências e Tecnologia da UFRN, que são compromissados, focados em resultados e que buscam um diferencial no mercado de trabalho. Prestamos diversos serviços à sociedade, encontrando soluções para variados problemas na área de desenvolvimento web.</p>
                      </div>
                      <div class="col-md-3">
                        <a href="/blog"><img src="{% static 'core/images/banner.jpg' %}" class="logo" alt=""></a>
                      </div>

                    </div>
                  </div><!-- End off row -->
                </div><!-- End off container -->
              </section><!-- End off Featured Section-->

              <!--Seção de Serviços-->
            <!-- Start Pricing section
            =========================================== -->
            

<!-- CTA's dos Serviços
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Quero agora</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nome:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Email:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Telefone:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Fale um pouco sobre o seu projeto:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Enviar Mensagem</button>
      </div>
    </div>
  </div>
</div>
-->
<!-- DIFERENCIAIS -->
<section id="proposito">
  <div>
    <div>
      <div class="container">
        <div class="col-md-12 center wow animated fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
          <div class="ajustessec">
            <h2 style="color:white; padding-bottom: 8px">O Que nos Move</h2>
            <div class="section-quem"></div>
            <h3 style="color: white">Missão, Visão e Valores</h3>
            <div class="section-mission"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="row text-center dificons">
              <!-- DIFERENCIAIS - QUALIDADE-->
              <div class="col-md-4 col-sm-4 col-xs-12 col-xxs-12 center wow animated fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                <img src="{% static 'core/images/missao.svg' %}" width="100px" height="100px">
                <h2 class="fh5co-uppercase-sm" style="color: white;">Missão</h2>
                <p>Transformar, por meio de micro-revoluções, pessoas em protagonistas do empreendedorismo.</p>
              </div>

              <!-- DIFERENCIAIS - ALTA TECNOLOGIA-->

              <div class="col-md-4 col-sm-4 col-xs-12 col-xxs-12  center wow animated fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                <img src="{% static 'core/images/visao.svg' %}" width="100px" height="100px">
                <h2 class="fh5co-uppercase-sm" style="color: white;">Visão</h2>
                <p>Ate o final de 2018, seremos referência no Brasil como uma empresa júnior destaque em Soluções Web.</p>
              </div>

              <!-- DIFERENCIAIS - PREÇO-->

              <div class="col-md-4 col-sm-4 col-xs-12 col-xxs-12 center wow animated fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                <img src="{% static 'core/images/valores.svg' %}" width="100px" height="100px">
                <h2 class="fh5co-uppercase-sm" style="color: white;">Valores</h2>
                <p><p>Transparência<br />Fazer Acontecer<br />Compromisso<br />Cooperação<br />#SouEJECT</p></p>

              </div>

            </div>
          </div>

          <div class="col-md-4 col-md-push-4 fh5co-text-wrap">
            <div class="row text-center">
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</section>
                  <section id="contato" class="bg-azultop fix">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title text-center">
              <h2 style="color:white">Entre em contato</h2>
              <span class="border"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row" style="padding-bottom: 25px">
          <!-- Contact Details -->
          <div class="col-md-6">
            <div class="contact-info wow fadeInUp" style="padding-bottom: 10px" data-wow-duration="1000ms" data-wow-delay="300ms">
              <p>Instituto Metrópole Digital (IMD - UFRN), sala B412 (4° piso)</p>
              <ul class="address">
                <li style="padding-bottom: 10px"><i class="fa fa-map-marker"></i> <span> Endereço:</span> Av. Capitão Mor. Gouvéia, Lagoa Nova, CEP: 59075-050 </li>
                <li style="padding-bottom: 10px"><i class="fa fa-phone"></i> <span> Telefone:</span> +55 (84) 3342-2216 Ramal 206 </li>
                <li style="padding-bottom: 10px"><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:contato@ejectufrn.com.br"> contato@ejectufrn.com.br</a></li>
              </ul>
            </div>

            <div class="col-md-12 google-maps">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15876.661590476922!2d-35.2054833!3d-5.8322932!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x85af869d288f334e!2sEmpresa+J%C3%BAnior+da+Escola+de+Ci%C3%AAncias+e+Tecnologia!5e0!3m2!1spt-BR!2sbr!4v1520308069690" width="350" height="290" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>

          <!-- / End Contact Details -->


          <!-- Contact Form -->
          <div class="contact-form col-md-6">
            <p style="padding-top: 35px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum reiciendis quasi itaque, obcaecati atque sit!</p>
            <form id="contact-form" method="post" role="form">
              {% csrf_token %}
              <div class="form-group">
                {{ form_contato.nome }}
              </div>
              <div class="form-group">
                {{ form_contato.telefone }}
              </div>

              <div class="form-group">
                {{ form_contato.email }}
              </div>

              <div class="form-group">
                {{ form_contato.assunto }}
              </div>

              <div class="form-group">
                {{ form_contato.mensagem }}
              </div>

              <!-- <div id="mail-success" class="success">
                Thank you. The Mailman is on His Way :)
              </div>

              <div id="mail-fail" class="error">
                Sorry, don't know what happened. Try later :(
              </div> -->

              <div id="cf-submit">
                <input type="submit" id="contact-submit" class="btn btn-transparent" value="Enviar">
              </div>
            </form>
          </div>
          <!-- ./End Contact Form -->
        </div>
      </div> <!-- end row -->
    </section>

    <div class="md-modal md-effect-1" id="modal-1">
      <div class="md-content">
        <h3 style="color: #fff">Saiba Mais</h3>
        <div>
          <a class="md-close" href="#pricing" style="color:#fff; float:right;">X</a>
          <br>
          <p align="center">Por favor, selecione uma das opções abaixo para mais informações:</p>
          <br>
          <button class="btn btn-queroagora">Sites Responsivos | <i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
          <br>
          <button class="btn btn-queroagora"> Sistemas Web | <i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
          <br>
          <button class="btn btn-queroagora">Hospedagem | <i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
          <br>
        </div>
      </div>
    </div>

    <footer>
      <div class="main_footer fix bg-white text-center p-top-40 p-bottom-30 m-top-0" style="padding-top: 25px;padding-bottom: 15px;">
        <div class="col-md-12 center wow animated fadeInUp" style="visibility: visible; animation-name: fadeInDown;">
          <a href="https://www.facebook.com/ejectufrn" target="_blank"><i class="fa fa-facebook" ></i></a>
          <a href="https://www.instagram.com/ejectufrn/" target="_blank"><i class="fa fa-instagram" ></i></a>
          <a href="https://www.linkedin.com/company/16219994/ " target="_blank"><i class="fa fa-linkedin" ></i></a>


          <font color="black"><p class="rodape wow fadeInRight" data-wow-duration="1s">
            Feito com <b>foco</b> <!--<i class="fa fa-bullseye" style="color: #336687;"></i>-->e <b>compromisso</b> pela<a href="https://www.ejectufrn.com.br" target="_blank" style="color: #336687;">EJECT</a>
            |  2017.</p> </font>
          </div>
        </div>
      </footer>
    </div>
      <!-- Global site tag (gtag.js' %}) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115305078-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-115305078-1');
      </script>

              <!-- JS includes -->

      <script src="{% static 'core/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
      <script src="{% static 'core/js/vendor/jquery-1.11.2.min.js' %}"></script>
      <script src="{% static 'core/js/vendor/bootstrap.min.js' %}"></script>

      <!-- Scripts do home -->
      <script src="{% static 'core/js/modernizr.js' %}"></script> <!-- Modernizr -->
      <script src="{% static 'core/js/mains.js' %}"></script> <!-- Resource jQuery -->

      <script src="{% static 'core/js/jquery.magnific-popup.js' %}"></script>
      <script src="{% static 'core/js/jquery.easing.1.3.js' %}"></script>
      <script src="{% static 'core/js/jquery.collapse.js' %}"></script>
      <script src="{% static 'core/js/bootsnav.js' %}"></script>

      <!-- lightbox -->
      <script src="{% static 'core/js/lightbox.min.js' %}"></script>
      <!-- mix -->
      <script src="{% static 'core/js/mixitup.min.js' %}"></script>

      <script src="{% static 'core/js/plugins.js' %}"></script>
      <script src="{% static 'core/js/main.js' %}"></script>

      <script src="{% static 'core/js/particle.js' %}"></script>
      <!-- Owl Carousel -->
      <script src="{% static 'core/js/owl.carousel.min.js' %}"></script>
      <!--PORTFOLIO
      <script src="{% static 'core/js/2jquery.js' %}"></script>
      --><script src="{% static 'core/js/2jquery.prettyPhoto.js' %}"></script>
      <script src="{% static 'core/js/2jquery.isotope.min.js' %}"></script>
      <script src="{% static 'core/js/2main.js' %}"></script>      
      <script src="{% static 'core/js/2wow.min.js' %}"></script>

      <script  src="{% static 'core/js/oneline.js' %}"></script>
      <script  src="{% static 'core/js/onelinesistemas.js' %}"></script>

      <!-- Slick -->
      <script src="{% static 'core/slick.js' %}" type="text/javascript" charset="utf-8"></script>

      <script src="{% static 'core/js/particles.js' %}"></script>
      <script src="{% static 'core/js/app.js' %}"></script>

      <script type="text/javascript">
        $(document).ready(function(){
          $('.customer-logos').slick({
            slidesToShow: 6,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 1000,
            arrows: false,
            dots: false,
            pauseOnHover: false,
            responsive: [{
              breakpoint: 768,
              settings: {
                slidesToShow: 4
              }
            }, {
              breakpoint: 520,
              settings: {
                slidesToShow: 3
              }
            }]
          });
        });
      </script>
    </body>
    </html>
